.outer-dash-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.dash-contaienr {
    width: 50%;
    min-height: 100vh;
    background: #E5F4EC

}

.dash-sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-name {
    font-size: 40px;
    color: #3b5249;
    margin: 20px;
}

.add-button {
    background: #8AEA92;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}